* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

.form-container button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.overlay__button {
    border-radius: 20px;
    border: 1px solid #1e11a9;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    background-color: transparent;
    border-color: #ffffff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    &__form {
        grid-area: form;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
        height: 100%;
        text-align: center;
        width: 100%;
    }
    &__button {
        border-radius: 20px;
        border: 1px solid #1e11a9;
        background-color: #1e11a9;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin: 8px 0;
    }
    &__title {
        font-weight: bold;
        margin: 10px 0;
    }
    &__user-edit {
        display: grid;
        grid-template-areas:
            "button"
            "form";
        grid-template-rows: 1fr 8fr;
    }
}

.login-form,
.signup-form {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.signup-form .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.signup-form .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.signup-form .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: -webkit-linear-gradient(to right, #3ac4fa, #1e11a9);
    background: linear-gradient(to right, #3ac4fa, #1e11a9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.signup-form .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.signup-form .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.signup-form .overlay-right {
    transform: translateX(20%);
}
