.slider {
    position: absolute;
    height: 600px;
    width: 100%;
}

.image {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(./img/bath.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 5;
    visibility: inherit;
    position: inherit;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.form {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    max-width: 800px;
    height: 150px;
    background-color: #fff;
    border: 3px solid #3ac4fa;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;

    &__date {
        padding: 10px;
        position: absolute;
        border-radius: 5px;
        border: 1px solid #3ac4fa;
        top: 40px;
        left: 50px;
        display: flex;
        border-radius: 1px solid black;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        background-color: #fff;
        opacity: 100%;
    }
}

// .react-datepicker__input-container input {
//     width: 100%;
//     font-size: 15px;
//     text-align: right;
// }

// .react-datepicker__close-icon {
//     display: none;
// }

// .react-datepicker-input-container {
//     background-color: #fff;
//     width: 100%;
//     height: 100%;
//     opacity: 100%;
// }

.calendar {
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #3ac4fa;
    display: flex;
    border-radius: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #fff;
    opacity: 100%;
}

input,
button {
    font-family: "Orchidea", sans-serif;
}
