.admin-panel {
    &__content {
        min-height: 30vh;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 80vh;
        position: relative;
        padding: 10px;
        background-color: #fff;
        z-index: 1;
        width: 550px;
        font-size: 18px;
        border-radius: 10px;
    }
}

.check-inputs {
    display: flex;
    flex-wrap: wrap;
}

.form-check {
    margin: 5px;
    &-label {
        padding: 5px;
        pointer-events: none;
    }
}

.form-select__roomTypes {
    font-size: 16px;
    font-family: "Orchidea", sans-serif;
    background-color: #eee;
    padding: 12px 0 12px 15px;
}

.pricelist {
    &__container {
        width: 100%;
    }
}

.close-button {
    width: 40px;
    height: 40px;
    right: 10px;
    border-radius: 40px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.close-button:before {
    content: "+";
    color: #337ab7;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.close-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #337ab7;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.close-button:hover:after {
    transform: scale(1);
}
.close-button:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}

.remove-button {
    background-color: inherit;
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    position: relative;
    cursor: pointer;
}

.remove-button::before,
.remove-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 0.1rem;
    background-color: #f00;
    margin: -0.05rem 0 0 -0.4rem;
    transform: rotate(-45deg);
    border-radius: 0.1rem;
}

.remove-button::after {
    transform: rotate(45deg);
}
