.admin-panel {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 50px;
    }
}
.roomData-table,
.bookings-table {
    border-collapse: collapse;
    text-align: center;

    &__header {
        height: 50px;
        border-bottom: 1px solid #000000;
    }
    &__title {
        font-size: 24px;
        padding: 10px 30px;
        stroke: #000000;
        stroke-width: 1;
    }

    &__value {
        font-size: 18px;
        height: 50px;
        padding: 0 30px;
    }

    &__row {
        height: 120px;
        border-bottom: 1px solid #000;
    }
}

#price {
    width: 170px;
    border: none;
}

.bookings-table {
    &__value {
        padding: 0 20px;
    }
}

.sort-direction {
    stroke: #000;
    stroke-width: 1;
    position: absolute;
}

.bookings-settings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
